fastapi
uvicorn[standard]
pydantic
requests
pandas
numpy
plotly
tqdm
vectorbt
arcticdb
scipy
fredapi
ta
hyperliquid-python-sdk
https://github.com/rongardF/tvdatafeed/archive/refs/heads/master.zip
statsmodels
web3==6.15.0



